html {
    background-color: #171717 !important;
}
body[data-dark-theme="true"] .blog-tags a,
body[data-dark-theme="true"] h1, 
body[data-dark-theme="true"] h2, 
body[data-dark-theme="true"] h3, 
body[data-dark-theme="true"] h4, 
body[data-dark-theme="true"] h5, 
body[data-dark-theme="true"] h6,
body[data-dark-theme="true"] .nav-links li a em,
body[data-dark-theme="true"] footer * {
 color: #e8e8e8 !important;
}

body[data-dark-theme="true"] .intro-header,
body[data-dark-theme="true"] .intro-header a,
body[data-dark-theme="true"] .intro-header a:visited,
body[data-dark-theme="true"] .post-preview a,
body[data-dark-theme="true"] .post-preview a:visited,
body[data-dark-theme="true"] .container[role=main] {
 color: #c9c9c9;
}

body[data-dark-theme="true"] .blog-tags a,
body[data-dark-theme="true"] a {
 color: #809fff
}

body[data-dark-theme="true"] a:visited {
 color: #ecbbec;
}