<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/jquery.mark.es6.min.js"></script>
<script src="/js/lunr.js"></script>
<script src="/js/lunr.stemmer.support.js"></script>
<script src="/js/tinyseg.js"></script>
<script src="/js/lunr.ja.js"></script>
<script src="/js/lunr.multi.js"></script>
<script src="/js/search.js"></script>

<div class="searchBoxContainer">
    <input type="text" id="searchBox" class="searchBox" placeholder="Search..." />
    <img id="searchBoxIcon" class="searchBoxIcon" />
</div>
<div id="searchResults" class="searchResults"></div>