{{ $len_socials := false }}

<div class="social-icons">
  {{ if .Site.Params.social }}
    {{ $len_socials = true }}
    {{ range $i, $social :=  .Site.Params.social }}
      {{ if ne $i 0 }} &nbsp;&ndash;&nbsp;{{ end }}
      <a href="{{ $social.url }}" name="{{ $social.name }}">
        <em class="{{ $social.icon }}"></em>
      </a>
    {{ end }}
  {{ end }}

  {{ if .Site.Params.social_static }}
    {{ $base := .Site.BaseURL }}
    {{ range $i, $social :=  .Site.Params.social_static }}
      {{ if or ($len_socials) (ne $i 0) }} &nbsp;&ndash;&nbsp; {{ end }}
      <a class="social-icon" href="{{ $social.url }}" name="{{ $social.name }}">
        <object
          type="image/svg+xml"
          data="{{ $base }}images/{{ $social.icon }}"
          width="20"
          height="20"
          style="pointer-events: none;"
        ></object>
      </a>
    {{ end }}
  {{ end }}
</div>
